.ea-bootstrap{

    .ui-datepicker {
        background-color: #fff;
        border: 1px solid darken($main-color, 10%) !important;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(darken($main-color, 10%),.6) !important;
        display: none;
        margin-top: 4px;
        padding: 10px;
        width: 240px;
    
        .ui-datepicker-current-day{
            background-color: darken($main-color, 10%) !important;
            a{
                color: #ffffff !important;
            }
        }
    }

    a{
        color: darken($main-color, 10%) !important;

    }

    .no-slots, .no-slots:hover{
        a{
            color: #ffffff !important;
        }
    }

    .selected-time, .selected-time:hover{
        background-color: darken($main-color, 10%) !important;
        color: #837777 !important;
    }

    .time-disabled, .selected-time{
        color: #ffffff !important;
    }

    .form-control:focus{
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(darken($main-color, 10%),.6) !important;
    }

    .btn-primary{
        background-color: #ffffff !important;
        border: 2px solid #000000 !important;
        color: #000000 !important;
        
        &:hover{
            background-color: #000000 !important;
            color: #ffffff !important;
            
        }
    }
    
    .btn{
        border-radius: 0 !important;
    }

    .ea-cancel, .ea-btn.ea-submit{
        display: none !important;
    }

    .fa, .fas {
        font-family: 'fontawesome' !important;
        font-weight: 900 !important;
        font-style: normal !important;
    }
}
