@font-face {
    font-family: 'cal_fbregular';
    src: url('fonts/calfb-regular-webfont.eot');
    src: url('fonts/calfb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/calfb-regular-webfont.woff2') format('woff2'),
         url('fonts/calfb-regular-webfont.woff') format('woff'),
         url('fonts/calfb-regular-webfont.ttf') format('truetype'),
         url('fonts/calfb-regular-webfont.svg#cal_fbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poiret_oneregular';
    src: url('fonts/poiretone-regular-webfont.eot');
    src: url('fonts/poiretone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/poiretone-regular-webfont.woff2') format('woff2'),
         url('fonts/poiretone-regular-webfont.woff') format('woff'),
         url('fonts/poiretone-regular-webfont.ttf') format('truetype'),
         url('fonts/poiretone-regular-webfont.svg#poiret_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}