.rebloom-infobox > .vc_column-inner{
    height: 100%;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
    padding: 45px !important;
    .infobox-title{
        font-size: 5em;
        line-height: 1em;
        margin: 0;
        color: $secondary-color;
        transition: color 0.3s ease;
    }
    .infobox-text{
        *{
            color: black;
            font-size: inherit !important;
        }
        transition: color 0.3s ease;
    }

    &:hover{
        background-color: #000000;
        .infobox-title, .infobox-text *{
            color: #ffffff !important;
        }
    }
}