.content-product{
    .footer-product{
        .add_to_cart_button{
            font-size: 0;
        }
    }

    .sale-wrapper{
        .sale-img{
            width: 90px;
            height: 30px;
            background-image: url('img/fapia-logo-mono-n.svg');
            background-size: 100% auto;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 20px;
            z-index: 1;
        }
        .onsale{
            padding: 0;
            mix-blend-mode: difference;
            left: 95px;
            font-size: 1em;
            &::before{
                content: '-'
            }
        }
    }
}