.ibox-block-shadow .elementor-widget-container:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: white;
    border-color: $main-color !important;
    transition: all 0.2s linear;
}