// main
$mantle: #849C90;
$cape-cod: #3A4A44;
$black: #202020;
$white: #F7F7F7;

// secondary
$riptide: #80E8B4;
$arrowton: #968B6E;
$au-chico: #966357;
$mountbatten-pink: #96848B;
$boston-blue: #439CB0;


$main-color: $mantle;
$secondary-color: $cape-cod;
$complementary-color: $black;

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);