/*!
 Theme Name:   Fapia Theme
 Theme URI:    https://dgk.com.mx/
 Description:  XStore Child Theme for Fapia Shop
 Author:       dgk
 Author URI:   https://dgk.com.mx
 Template:     xstore
 Version:      0.0.4
 Text Domain:  xstore-child
*/

/**abstracts**/
@import
  'abstracts/variables',
  'abstracts/mixins';

// /**components**/
@import
  'components/fonts',
  'components/typography',
  'components/product',
  'components/footer';

// // /**pages**/
@import
  'pages/home',
  'pages/sell-to-us';

// PAdding fix para barra inferior en móvil
body{
  @include respond-below(md){
    padding-bottom: 5px;
  }
}

.dokan-form-control:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="url"]:focus, textarea:focus, textarea.form-control:focus, select:focus {
  box-shadow: none;
  outline: none;
  border-color: $main-color !important;
}

.dokan-form-control, input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="password"], input[type="tel"], input[type="url"], select{
  border-top: none;
  border-left: none;
  border-right: none;
}

.single-product-wide .product-content {
  background-color: $white;
  padding: 80px 30px 25px;
  margin-bottom: 60px;
}

.et_b_dt_header-overlap.search .content-page {
  padding-top: 100px;
}
.mobile-device.et_b_dt_header-overlap.search .content-page {
  padding-top: 68px;
}


.etheme-contact-form-7 .wpcf7-form .wpcf7-form-control-wrap{
  margin-bottom: 0 !important;
}